<form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col">
  <!-- Base information -->
  <section class="flex flex-col mb-6">
    <h3>Základní údaje</h3>
    <div class="grid grid-cols-3 gap-3">
      <app-input type="text" label="Jméno" placeholder="Jméno" formControlName="name" [required]="true"></app-input>
      <app-input type="text" label="Příjmení" placeholder="Příjmení" formControlName="surname" [required]="true"></app-input>
      <app-input type="date" label="Datum narození" placeholder="Datum narození" formControlName="birthDate" [max]="minBirthDate" [required]="true"></app-input>
    </div>
  </section>
  <!-- Contact -->
  <section class="flex flex-col items-center mb-8">
    <h3>
      Kontakt
      <small>
        <span class="text-red-600 text-base">*</span> 
        Vyplňte minimálně jeden kontakt
      </small>
    </h3>
    <div class="grid grid-cols-2 gap-3 w-full max-w-md">
      <app-input type="email" label="E-mail" placeholder="E-mail" formControlName="email"></app-input>
      <app-input type="text" label="Telefon" placeholder="Telefon" formControlName="phone"></app-input>
    </div>
  </section>
  <!-- Footer -->
  <div class="inline-flex flex-col items-center">
    <app-button type="submit" [loading]="submitting" [disabled]="submitting" class="mb-4">Uložit</app-button>
    <button type="button" (click)="onCancel()" class="text-red-600">Zrušit</button>
  </div>
</form>